a {
  text-decoration: none;
}

body {
  background: #136a8a;
  background: -webkit-linear-gradient(to right, #136a8a, #267871);
  background: linear-gradient(to right, #136a8a, #267871);
  margin: 0;
}

.container {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.08em;
  line-height: 1.7em;
  margin: 1rem 3rem;
}

.image {
  height: 50%;
  width: 50%;
  max-height: 250px;
}

.landing {
  display: flex;
}

@media (max-width: 1024px) {
  .landing {
    flex-wrap: wrap-reverse;
  }
  .container {
    margin: 1rem;
  }
}

@media (max-width: 728px) {
}
